# Database connection (Docker)
# docker-compose URL
DATABASE_URL="postgresql://nexus:nexuspassword@localhost:5433/nexus_ledger?schema=public"

# JWT Security
JWT_SECRET="sua_chave_secreta_aqui"

# Server Configuration
PORT=3333
NODE_ENV="development"