# Dependências
node_modules/
dist/

# Variáveis de Ambiente (CRÍTICO)
.env

# Prisma
/src/generated/prisma
/prisma/dev.db
/prisma/dev.db-journal

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log

# Sistema Operacional
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/